asyncpg==0.29.0
fastapi==0.110.1
fastapi_pagination==0.12.22
grpcio==1.40.0
passlib==1.7.4
protobuf==3.20.0
pydantic==2.6.4
pydantic_settings==2.2.1
SQLAlchemy==2.0.23
uvicorn==0.29.0
aiokafka==0.10.0